{% load staticfiles %}
<head>

<!-- Google Tag Manager -->
<!-- Global Site Tag (gtag.js) - Google Analytics -->


<!-- End Google Tag Manager -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">

<title>
    {% block title %}
    Quality Dentists | Providing Quality Dental Care
    {% endblock %}
</title>

{% block meta %}
<meta name="description" content="QUALITY DENTISTS providing the BEST DENTAL CARE to people across London and the South East. To find a quality dentist near you..."/>
{% endblock %}
<meta property="og:locale" content="en_UK" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Dorking Dentists | Providing Quality Dental Care"/>
<meta property="og:description" content="Quality Dentists providing the best dental care at numerous locations across London and the South East. To find a quality dentist near you..."/>
<meta property="og:url" content="http://www.quality-dentists.co.uk/" />
<meta property="og:site_name" content="Quality Dentists" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Quality Dentists providing the best dental care at numerous locations across London and the South East. To find a quality dentist near you..." />
<meta name="twitter:title" content="Dorking Dentists | Providing Quality Dental Care" />

<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static 'css/index.css' %}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=EB Garamond">



<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>